{% extends 'base.html.twig' %}


{% block body %}
	<style>
		body {
			background-color: #70A99E;
		}
		.responsive {
			width: 100%;
			height: auto;
		}
	</style>

	<div class="jumbotron" style="background-color: #70A99E">
		<h1 class="display-3">Bienvenue sur bibliothèque Guinot!</h1>
		{% if not app.user %}
			<a type="button" class="btn btn-warning btn-lg" style=" position: relative; float: right;" href="{{path('app_login')}}">Connexion</a>
		{% endif %}
		<p class="lead">De nombreuses ouvrages à venir decouvrir dans nos base de donnés.</p>
		<hr class="my-4">
		<p class="lead">
			<a class="btn btn-danger" href="{{path('livre_index')}}" role=" button">Livres</a>

			<a class="btn btn-success" href="{{path('CD_index')}}" role="button">Cd-Rom</a>

			<a class="btn btn-info" href="{{path('news_paper_index')}}" role="button">Journaux</a>

			<a class="btn btn-secondary" href="{{path('micro_film_index')}}" role=" button">Micro Films</a>
		</p>
	</div>

	<div class="example-wrapper">
		{% if app.user %}
			<h1>
				✅	Bonjour
				{{ app.user.firstname }}!

			</h1>
			<p>
			{% endif %}


			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
							        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
							        See https://symfony.com/doc/current/security/remember_me.html
							
							        <div class="checkbox mb-3">
							            <label>
							                <input type="checkbox" name="_remember_me"> Remember me
							            </label>
							        </div>
							    #}

				<button class="btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
			</form>
		{% endblock %}
