{% extends 'base.html.twig' %}

{% block title %}
	Livre index
{% endblock %}

{% block body %}

	<div style="background-color:  #70A99E">

		<div class="container">
			{{ form_start(form) }}
			<div class="form-row align-items-end">
				<div class="col">
					{{ form_row(form.titre) }}
				</div>
				<div class="col">
					{{ form_row(form.cote) }}
				</div>
				<div class="col">
					{{ form_row(form.author) }}
				</div>
				<div class="col">
					<div class="form-group">
						<button class="btn btn-primary">
							Rechercher
						</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<h1 class="mb-4 mt-3">
		Nos livres
	</h1>

		{% include "shared/table.html.twig" with {"titles" : ["title","cote","availability","authtor","special","action"], "items": livres,"detail": "livre_show", "edit": "livre_edit"} %}

	{% if is_granted('ROLE_VOLONTEER') %}
		<a class="btn btn-warning" href="{{ path('livre_new') }}">
			Créer un nouveau livre
		</a>
	{% endif %}
{{ knp_pagination_render(livres) }}
{% endblock %}
{% block javascripts %}
	<script>
		{% include "filter/_filters.js" %}</script>
{% endblock %}
