<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		Guinot Bibliotheque
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('home')}}">
					Accueil
					<span class="sr-only">
						(current)
					</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Ressources
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('livre_index')}}">
						Livres
					</a>
					<a class="dropdown-item" href="{{path('CD_index')}}">
						CD-Rom
					</a>
					<a class="dropdown-item" href="{{path('news_paper_index')}}">
						Journaux
					</a>
					<a class="dropdown-item" href="{{path('micro_film_index')}}">
						MicroFilms
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#"></a>
				</div>
			</li>
			{% if app.user %}
				{% if is_granted('ROLE_VOLONTEER')  %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_index') }}">
							Utilisateurs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('loan_index') }}">
							Emprunter
						</a>
					</li>

				{% endif %}
			</ul>
			<ul class="navbar-nav mr-left">

				<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">
						Se déconnecter
					</a>
				</li>
				{% if is_granted('ROLE_VOLONTEER') %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('user_show', {'id':app.user.id})}}">
							Mon Compte
						</a>
					</li>
				{% else %}
					<li class="nav-item ml-auto">
						<a class="nav-link" href="{{path('account_show', {'id':app.user.id})}}">
							Mon Compte
						</a>
					</li>
				{% endif %}
			{% endif %}


		</ul>

	</div>
</nav>
{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert-{{ label }}">
			{% for message in messages %}
				<p>
					{{ message|raw }}
				</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
