{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{ user.firstName }}</h1>

	<style>
		body {
			background-color: #70A99E;
		}
		.responsive {
			width: 100%;
			height: auto;
		}
	</style>

	<table class="table table-hover">
		<tbody>
			<tr class="table-success" style="">
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>FirstName</th>
				<td>{{ user.firstName }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>LastName</th>
				<td>{{ user.lastName }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>Address</th>
				<td>{{ user.address }}</td>
			</tr>


			<tr class="table-success" style="">
				<th>PostalCode</th>
				<td>{{ user.postalCode }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>City</th>
				<td>{{ user.city }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>CreatedAt</th>
				<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>

			<tr class="table-success" style="">
				<th>Fees</th>
				<td>{{ user.fees ? 'Yes' : 'No' }}</td>
			</tr>

		</tbody>
	</table>


	<table class="table table-hover">

		<thead>

			<tr class="table-warning" style="">
				<td style="">Titre</td>
				<td style="">Date d'emprunt</td>
				<td style="">Date de renouvellement</td>
				<td style="">Réstitution</td>
				<td style="">Renouvellement</td>
			</tr>

		</thead>

		<tbody>
			<div class="card">
				{% set nb = 0 %}
				{% for loan in user.loans %}

					<tr class="table-success" style="">
						{% for livre in loan.livres %}
							{% set nb = nb + 1 %}
							{% if livre.title %}
								<td class="table-success">{{livre.title}}</td>
								<td class="table-success">{{loan.createdAt |date('d-m-Y')}}
								</td>
								<td class="table-success">

									{{livre.updatedAt |date('d-m-Y:h-m-s')}}
								</td>
								<td class="table-success">

									<a href="{{path('loan_edit', {'id':loan.id,'livre':livre.id,'user':user.id})}}">Restitution</a>
								</td>
								<td class="table-success">

									<a href="{{path('loan_edit', {'id':loan.id,'livre':livre.id,'user':user.id , 'renew':1})}}">Renouvellement</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endfor %}
				<hr>
				<h2>Vos Emprunts</h2>


				<hr>
				{% for loan in user.loans %}
					<tr class="table-success" style="">

						{% for cdrom in loan.cdrom %}
							{% set nb=nb+1 %}
							{% if cdrom.title %}
								<td>
									{{cdrom.title}}
								</td>
								<td>
									{{loan.createdAt |date('d-m-Y')}}
								</td>
								<td>
									{{loan.udatedAt |date('d-m-Y:h-m-s')}}
								</td>
								<td>
									<a href="{{path('loan_edit', {'id':loan.id,'cdrom':cdrom.id,'user':user.id})}}">Restitution</a>
								</td>
								<td>
									<a href="">Renouvellement</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<br>


	{% if is_granted('ROLE_USER') %}
		{% if (app.user.id == user.id) %}
			{# <a href="{{ path('account_edit', {'id': user.id}) }}">Modifier mon profil</a> #}
		{% endif %}
		{% if is_granted('ROLE_VOLONTEER') %}
			<p>
				<a class="btn btn-primary" href=" {{ path('user_index') }} ">Retour à la liste utilisateur</a>
				<a class="btn btn-secondary" href="{{ path('user_edit', {'id': user.id}) }}">Éditer le profil</a>

				{% if nb >= 5 %}

					<div class="alert alert-dismissible alert-danger" style="">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>{{user.firstname}} {{user.lastname}} ne peut plus emprunter
						car le compte posséde 5 ressources </strong>
					</div>

				{% else %}
					<a class="btn btn-light" href=" {{ path('loan_new', {'user': user.id}) }} ">Créer un emprunt </a>
				</p>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				{{ include('user/_delete_form.html.twig') }}
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
